<div>
	<h3>
		HI there, <span>{{name}}!</span>
		<button class="btn btn-primary logout">Logout</button>
	</h3>
	{{#unless connections.length}}
		<span class="help-text">You don't seem to have made any connections yet. Why not try the search?</span>
	{{/unless}}
	<div class="map-canvas-wrapper"></div>
	<div class="search">
		<div class="row">
			<div class="col-md-2 filters">
				<!-- <h4>Filters</h4> -->
				<button class="search-btn btn btn-primary">Search</button>
				<div class="filters-wrapper"></div>
			</div>
			<div class="col-md-8 results">
				<!-- <h4>Results</h4> -->
				<div class="results-wrapper"></div>
			</div>
		</div>
	</div>
</div>