<div>
	<h3>
		HI there, <span>{{user.name}}!</span>
		<button class="btn btn-primary logout">Logout</button>
	</h3>

	<div class="btn-group search-type-btn" role="group">
	  <button type="button" class="btn btn-default rides {{#if isPassenger}}active{{/if}}">Search for rides</button>
	  <button type="button" class="btn btn-default passengers {{#unless isPassenger}}active{{/unless}}">Search for passengers</button>
	</div>
	<div class="map-canvas-wrapper"></div>
	<div class="search">
		<div class="row">
			<div class="col-md-2 filters">
				<!-- <h4>Filters</h4> -->
				<button class="search-btn btn btn-primary">Search</button>
				<div class="filters-wrapper"></div>
			</div>
			<div class="col-md-10 results">
				<!-- <h4>Results</h4> -->
				<div class="results-wrapper"></div>
			</div>
		</div>
	</div>
</div>