<div class="checkbox">
	<label><input type="checkbox" name="startTime" data-bind="startTime" checked/>Start Time</label>
</div>
<div class="checkbox">
	<label><input type="checkbox" name="endTime" data-bind="endTime" checked/>End Time</label>
</div>
<div class="form-group">
    <label>Radius (in kms)</label>
    <br/>
	<input type="number" max="30" min="0" name="radius" data-bind="radius" value="10"/>
</div>

