{{#each users}}
{{#ifUsersAreDifferent}}
	<div class="user result">
		<p class="name"><span class="label">Name:</span>{{name}}</p>
		<p class="email"><span class="label">Email:</span>{{email}}</p>
		<p class="email"><span class="label">Email:</span>{{email}}</p>
	</div>
{{/ifUsersAreDifferent}}
{{/each}}